/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

 /* Common */

body{
    font-family: 'Poppins', sans-serif;
    color: black;
}

.color{
    color: #E76F51;
}

.dark-color{
    color: #252B42;
}

.custom-font-style{
    font-weight: 600;
}

.custom-margin{
    margin-bottom: 112px;
}

/* Banner Section */

#banner{
    background-color: #264653;
    padding-top: 65px;
    padding-bottom: 96px;
}

#banner p{
    font-weight: 300;
    color: #E0E0E0;
}

.honda-btn{
    background-color: #E76F51;
    font-weight: 500;
}


/* Feature Bike Section */

.feature-bike-grayscale{
    filter: grayscale(100%);
}

small{
    font-weight: 600;
}

/* Happy Client */

.client-color{
    color: #23A6F0;
}

.client-dark-color{
    color: #6C6C6C;
}

/* FAQ */

.faq{
    font-family: 'Inter', sans-serif;
}

.accordion-button:not(.collapsed){
    background-color: white;
    color: #383838;
}

.accordion-button-color{
    color: #383838;
}

.faq-accordion-body{
    color: #7E848C;
}